@font-face {
    font-family: Shabnam;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/eot/Shabnam-Bold2.eot');
    src: url('../fonts/eot/Shabnam-Bold2.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/Shabnam-Bold2.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/Shabnam-Bold2.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/Shabnam-Bold2.ttf') format('truetype');
}

@font-face {
    font-family: Shabnam;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/eot/Shabnam-Light2.eot');
    src: url('../fonts/eot/Shabnam-Light2.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/Shabnam-Light2.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/Shabnam-Light2.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/Shabnam-Light2.ttf') format('truetype');
}

@font-face {
    font-family: Shabnam;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/Shabnam-Light2.eot');
    src: url('../fonts/eot/Shabnam-Light2.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/Shabnam2.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/Shabnam2.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/Shabnam2.ttf') format('truetype');
}
